* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, body,#root, #root > .leaflet-container { height: 100%; margin: 0; padding: 0; }
.leaflet-container {
  width: 100%;
  background-color: "white";
  /* height: 100%; */
}

.hover{
  transition: transform 0.5s;

}
.hover :hover{
  transform: rotate(360deg);
}